<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="dmva-logo">
      <img src="/dmv-advisor-logo.png">
    </a>
    <h1>DMV Advisor</h1>
    <p>Don't wait in line all day.  DMV Advisor we'll tell you <b>when</b> and <b>where</b> to go so your day is as painless as possible.</p>
  </div>
</div>
<div class="container">
  <h3>Coming Soon</h3>
</div>


</body>
</html>
